.daysLeft {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 16%;
}

.halftable {
    width: 40%;
    margin-left: 8%;
    margin-right: auto;
    border: none;
    float: left;
    box-sizing: border-box;
}

.rankingExpTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 9%;
}

.rankingPtsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 6%;
}

.rankingSum {
    display: flex;
}