.fileTitle {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.fileSubTitle {
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-top: -20px;
  margin-bottom: 10px;
}

.codecontainer {
  display: flex;
}

.codeblock {
  flex: 50;
  justify-content: flex-start;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.codeheader {
  display: flex;
  justify-content: flex-end;
  background-color: #F8F8FF;
  border-bottom: 1px solid rgba(77, 70, 70, 0.219);
}

.coding {

  margin: 0 !important;
  min-height: 800px;
}

.commentsection {
  flex: 40;
  margin-right: 5%;
}