.fit_table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.foldericon {
  width: 30px;
}

.subject-row {
  cursor: pointer; 
}

.subject-row:hover {
  background-color: #EDEDED;
}

.uploadTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.courseButton {
  text-align: left;
}

.errorAlert {
  color: red;
}