.signContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.signContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../../assets/signBackground.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.signBox {
    width: 30%;
    padding: 15px;
    margin: auto;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
    color: black;
    background-color: white;
    position: relative;
    z-index: 1;
}

.signFields {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.signTextField {
    margin-top: 20px;
}

#signButton {
    background-color: #6750A4;
    border-radius: 20px;
    font-size: large;
    width: 100%;
    height: 50px;
    color: white;
    margin-top: 20px;
    border: none;
}

#demo-simple-select{
    text-align: left;
}

.selectorBox {
    margin-top: 20px;
}