.signContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.signBox {
    width: 30%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.1);
    color: black;
}

.signFields {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.signTextField {
    margin-top: 20px;
}

#signButton {
    background-color: #6750A4;
    border-radius: 20px;
    font-size: large;
    width: 100%;
    height: 50px;
    color: white;
    margin-top: 20px;
    border: none;
}

#demo-simple-select{
    text-align: left;
}

.selectorBox {
    margin-top: 20px;
}