.profileHeader {
    display: flex;
    align-items: center;
}
  
.profileAvatar {
    display:flex;
    align-items: center;
    justify-content: center;
    flex: 20%;
    padding: 16px;
}
  
.profileData {
    flex: 80%;
}
  
.profileDataContent {
    display: flex;
    align-items: center;
}
  
.profileDataContent h1 {
    width: 40%;
    text-align: left;
    font-size: 24px;
    margin: 0;
}
  
.profileDataContent p {
    margin: 4px 5px;
}


.profileDataContent .MuiSvgIcon-root {
    margin-left: 100px;
}
  
.achievementProgression {
    margin-top: 30px;
    width: 90%;
}

.profileBody {
    display: flex;
    justify-content: space-between;
}

.profileFiles {
    width: 40%;
    margin-left: 5%;
    border: 1px solid #ccc;
}

.profileFilesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 35px;
    margin-bottom: 30px;
    height: 40px;
    
}

.profileFileIcon {
    display: flex;
    align-items: center;
    justify-content: left;
}

.profileGraphAndAchievements {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 5%;
}

.profileChart {
    margin-left: 5%;
    border: 1px solid #ccc;
    padding: 25px;
}

.profileAchievements {
    margin-left: 5%;
    border: 1px solid #ccc;
}

.achievementprofCard {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.achievementprofCardWithFilter {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.achievementprofCardWithFilter .MuiAvatar-root img {
    filter: grayscale(100%);
}

.achievementprofCard .MuiCardHeader-title {
    margin-bottom: 10px; 
}

.editAvatarButton {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}